input, textarea {
	border: 1px solid #4B7B34;
	width: 150px;
}

textarea {
	resize: none;
}

button {
	border: none;
	border-radius: 2.5px;
	background: #0D5ACF;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px; 
	color: white;
}

#outer {
	text-align: center;
}

#inner {  
  	border: 3px solid #0D5ACF;
  	background: #FFECD6;
  	border-radius: 10px;
  	margin: auto;
  	margin-top: 20%;
    margin-bottom: 20%;
    padding: 10px;
    display: inline-block;
}

.col1 {
	padding: 10px;
	padding-right: 2.5px;
	color: #0D5ACF;
	text-align: right;
	vertical-align: top;
}

.col2 {
	padding: 10px;
	padding-left: 2.5px;
	text-align: left;
}

